* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

img {
  display: block;
  cursor: pointer;
}

.tile {
  opacity: 0.4;
  transition: all 1s;
}

/* #grid:hover .tile {
  opacity: .6;
} */

.tile:hover {
  opacity: .9;
  transform: scale(1.2);
}