* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  display: block;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  width: min(100vh, 100vw, 1024px);
  aspect-ratio: 1;
  cursor: pointer;
}

.container.zooming {
  cursor: none;
}

.mozyq {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
  backface-visibility: hidden;
  transition: transform 1s ease-in;
}

.mozyq.no-transition {
  transition: none;
}

img {
  width: 100%;
  height: 100%;
}

.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  transform-origin: top left;
  gap: 0;
}

.tile {
  opacity: .4;
  transition: opacity .3s ease-in-out;
}

.grid:hover .tile {
  opacity: .6;
}

.grid:hover .tile:hover {
  opacity: .9;
}